<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
<title>Lecturer Management</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>Lecturer Managements</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/home">Home</a></li>
						<li class="breadcrumb-item">Lecturers & Groups</li>
						<li class="breadcrumb-item active"><a href="/listLecturers">Lecturer Management</a></li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<section class="section">
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Lecturer Details</h5>	
								<form class="row g-3" id = "newLecturer" th:object="${lecturer}" method="POST">
									<input type="hidden" id="userId" th:field="*{userId.userId}" class="form-control" readonly>
									<input type="hidden" th:field="*{lecturerId}" class="form-control">
									<input type="hidden" th:field="*{userId.active}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.createBy}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.createDate}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.updateBy}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.updateDate}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.forcePassword}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.sso}" class="form-control" readonly>
									<input type="hidden" th:field="*{userId.ssoEmail}" class="form-control" readonly>
									
									<div class="col-md-12" >
										<label for="name" class="form-label">Name<span class="asterisk_input"></span></label>
										<input type = "text" id = "lecturerName" th:field="*{userId.name}" class="form-control" required>
									</div>
									 
									<div class="col-md-6">
										<label for="username" class="form-label">Username<span class="asterisk_input"></span></label>
										<input type="text" id="username" th:field="*{userId.username}" class="form-control" oninput="validateUserName(this.value,document.getElementById('userId').value)" required>
									</div>
									
									<div class="col-md-6">
										<label for="email" class="form-label">Email<span class="asterisk_input"></span></label>
										<input type="email" id="email" th:field="*{userId.email}" class="form-control" oninput="validateEmail(this.value,0)" required>
									</div>
										
									<div class="col-12">
										<p id="sts"><p>
									</div>
									
									<div class="col-md-6">
										<label for="nic" class="form-label">N.I.C. Number<span class="asterisk_input"></span></label>
										<input type="text" id="nic" th:field="*{nicNumber}" class="form-control" required>
									</div>
									
									<div class="col-md-6">
										<label for="institute" class="form-label">Institute Name<span class="asterisk_input"></span></label>
										<input type="text" id="institute" th:field="*{instituteName}" class="form-control" required>
									</div>
									
									<div class="col-md-6">
										<label for="educationQualification" class="form-label">Education Qualification<span class="asterisk_input"></span></label>
										<select class="form-select form-control" th:field="*{educationQualification}" aria-label="Default select example" placeholder="EDUCATION QUALIFICATION" id="educationQualifycation">
											<option value="" selected="selected" disabled="disabled">-- SELECT EDUCATION QUALIFICATION --</option>
										    <option value="No formal education">No formal education</option>
										    <option value="Primary education">Primary education</option>
										    <option value="Secondary education">Secondary education or high school</option>
										    <option value="Diploma qualification">Diploma qualification</option>
										    <option value="Vocational qualification">Vocational qualification</option>
										    <option value="Bachelor's degree">Bachelor's degree</option>
										    <option value="Master's degree">Master's degree</option>
										    <option value="Doctorate or higher">Doctorate or higher</option>
										</select>
									</div>
									
									<div class="col-md-6">
										<label for="description" class="form-label">Description<span class="asterisk_input"></span></label>
										<textarea type = "text" id="description" th:field="*{description}" class="form-control"></textarea>
									</div>
									
									<div class="col-md-6">
										<label for="mobile" class="form-label">Mobile<span class="asterisk_input"></span></label>
										<input type="text" id="mobile" th:field="*{userId.mobile}" class="form-control" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required>
									</div>
									<div class="col-md-6">
										<label for="mobile" class="form-label">Gender<span class="asterisk_input"></span></label>
										<div class="form-check">
										  	<input type="radio" name="gender" id="male" value="male" th:field="*{userId.gender}" checked>Male
										  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										  	<input type="radio" name="gender" id="female" value="female" th:field="*{userId.gender}">Female
										</div>
					                </div>
					                
									<div class="text-center">
										<button type="button" id = "saveLecturer" class="btn btn-primary">Submit</button>
										<button type="reset" class="btn btn-secondary">Reset</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6" th:if="(${lecturer.userId.userId} != '') AND (${lecturer.userId.userId} != null)">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Password Change</h5>	
								
								<form class="row g-3">
									
									<div class="col-md-11">
										<label for="password" class="form-label">Password</label>
										<input type="password" id="password" class="form-control" onInput = "checkPolicy(this.value)"  required>
									</div>
									<div class="col-md-1">
										<label class="form-label"></label>
										<span toggle="#password-field" class="input-group-text"><i class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
									</div>
									<div class="popup">
										<div class="popuptext" id="policyPopup">
											<small>Password must contain the followings:</small>
											<div th:each="policy : ${listPolicies}" th:if="${policy.active}">
												<small th:id="'policy'+${policy.policyId}" class="invalid" th:text="${policy.policy}"></small><br>
											</div>
										</div>
									</div>	
									<div class="col-md-11">
										<label for="confirmPassword" class="form-label">Re-Type Password</label>
										<label id="passordStatus">	</label>
										<input type="password" id="confirmPassword" class="form-control" onchange = "validatePassword()" required>
									</div>
									
									<div class="text-right">
										<button type="button" class="btn btn-primary" onClick = "savePassword()">Change Password</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
	</main>
	<!-- End #main -->
	<script src="js/lecturer.management.js"></script>
	<script src="js/user.management.js"></script>
	</div>
</body>

</html>


