<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<head>
  <title>Password Policies</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>Password Policies</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/home">Home</a></li>
						<li class="breadcrumb-item"><a href="">Settings</a></li>
						<li class="breadcrumb-item active"><a href="/listPasswordPolicies">Password Policies</a></li>
					</ol>
				</nav>
			</div><!-- End Page Title -->

			<!-- <a type = "button" class="btn btn-primary" th:href="@{/addPolicy}">Add New Policy</a> -->
			
			<br/><br/>
			
			<table class="table datatable">
				<thead>
					<tr>
						<th>Policy ID</th>
						<th>Policy</th>
						<th>Status</th>
						<!-- <th>Create User</th> -->
						<th>Create Date</th>
						<!-- <th>Last Update User</th> -->
						<th>Last Update Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="policy : ${listPolicies}">
						<td th:text="${policy.policyId}">ID</td>
						<td th:text="${policy.policy}">Name</td>
						<td th:if="${!(policy.active)}"> <span class="label label-danger">Deactive</span> </td>
						<td th:if="${policy.active}"><span class="label label-success">Active</span></td>
						<!-- <td th:text="${policy.createBy}">Create User</td> -->
						<td th:text="${policy.createDate}">Create Date</td>
						<!-- <td th:text="${policy.updateBy}">Last Update User</td> -->
						<td th:text="${policy.updateDate}">Last Update Date</td>
						<td colspan=2 style="letter-spacing: 10px;">
							<a type = "button" class="bi bi-pencil-square" title="Update" th:href="@{/showPolicyUpdate(policyId=${policy.policyId})}"></a>
							<a type = "button" class="bi bi-trash" title="Delete" th:onclick="|deletePolicy('${policy.policyId}')|"></a>
							<a type = "button" class="bi bi-clipboard-x"  title = "Deactivate" th:href="@{/policyDeactive(policyId=${policy.policyId})}" th:if="${policy.active}"></a>
							<a type = "button" class="bi bi-clipboard-check" title = "Activate" th:href="@{/policyActive(policyId=${policy.policyId})}" th:if="${!(policy.active)}"></a>	
						</td>
					</tr>
				</tbody>
			</table>
		</main><!-- End #main -->	
  	</div>
</body>

</html>

<script src="js/function.management.js"></script>