<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
<title>Password Policies</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>Password Policies</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/home">Home</a></li>
						<li class="breadcrumb-item"><a href="">Settings</a></li>
						<li class="breadcrumb-item active"><a href="/listPasswordPolicies">Password Policies</a></li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<section class="section">
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Policy Details</h5>
								<form class="row g-3" id = "newPolicy" th:object="${policy}" >
									<div class="col-md-12">
										<label for="policyId" class="form-label">Policy Id</label>
										<input type="text" th:field="*{policyId}" class="form-control" readonly>
									</div>
									<div class="col-md-12">
										<label for="policy" class="form-label">Policy</label>
										<input type="text" th:field="*{policy}" class="form-control" required>
									</div>
									<div class="col-md-12">
										<label for="policy" class="form-label">Data</label>
										<input type="text" th:field="*{data}" class="form-control" required>
									</div>
									<div class="col-md-6" th:if="${policy.active}">
										<label for="status" class="form-label">Status</label>
										<input type="text" value = "Active" class="form-control" readonly>
									</div>
									
									<div class="col-md-6" th:if="${!policy.active}" >
										<label for="status" class="form-label">Status</label>
										<input type="text" value = "Deactive" class="form-control" readonly>
									</div>
									<input type="hidden" th:field="*{active}" class="form-control" readonly>
									
									<div class="col-md-6">
										<label for="createBy" class="form-label">Create By</label> 
										<input type="text" th:field="*{createBy}" class="form-control" readonly>
									</div>
									<div class="col-md-6">
										<label for="createDate" class="form-label">Create Date</label> 
										<input type="text" th:field="*{createDate}" class="form-control" readonly>
									</div>
									
									<div class="col-md-6">
										<label for="updateBy" class="form-label">Update By</label> 
										<input type="text" th:field="*{updateBy}" class="form-control" readonly>
									</div>
									<div class="col-md-6">
										<label for="updateDate" class="form-label">Update Date</label> 
										<input type="date" th:field="*{updateDate}" class="form-control" readonly>
									</div>
									
									<div class="text-center">
										<button type="button" id = "savePolicy" class="btn btn-primary">Submit</button>
										<button type="reset" class="btn btn-secondary">Reset</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<script src="js/function.management.js"></script>
	</main>
	<!-- End #main -->
	</div>
</body>

</html>